[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
numba = "*"
torch = "*"
pyarrow = "*"
scikit-learn = "*"
whitebox = "*"
geopandas = "*"
shapely = "*"
rioxarray = "*"
xarray = "*"
netcdf4 = "*"
opencv-python = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
